### Задача 1 
Дано слово из латинских букв. Напишите скрипт, который выводит на экран букву из середины слова (если число букв нечетное). Если букв четное число, то на экран выводятся две буквы из середины.  

Пример: для 'test' должно выводится 'es', для 'testing' - 't'

In [101]:
word = input('Введите слово: ')
x = (len(word) // 2 - 1)
y = (len(word) // 2 + 1)
z = ((len(word) - 1) // 2)

if len(word) % 2 == 0:
    print(word[x:y])
elif len(word) % 2 != 0:
    print(word[z])
else:
    print()

Введите слово: testing
t

### Задача 2
Мы делаем MVP dating-сервиса, и у нас есть список парней и девушек (их число может варьироваться):

In [64]:
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']

couple = list(zip(sorted(boys), sorted(girls)))
print('Идеальные пары: ')

if len(boys) == len(girls):
    for a in couple:
        print(f'{a[0]} и {a[1]}')
else:
    print('Кто-то останется без пары :(')

Идеальные пары:
Alex и Emma
Arthur и Kate
John и Kira
Peter и Liza
Richard и Trisha

### Задача 3
У нас есть список, содержащий информацию о среднедневной температуре в Фаренгейтах за недельный период по странам.
Необходимо написать код, который рассчитает среднюю температуру за неделю в Цельсиях для каждой страны.

In [1]:
countries_temperature = [
 ['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
 ['Germany', [57.2, 55.4, 59, 59, 53.6, 55.4, 57.2]],
 ['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
 ['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4, 51.8]],
]


for countries in countries_temperature:
    print(countries[0].capitalize(), ':', sep='')
    temp_f = sum(countries[1]) / len(countries[1])
    temp_c = (temp_f - 32) * 5 / 9
    print(f'Средняя температура за неделю - {round(temp_c, 1)} градусов по Цельсию.')
    print()

Thailand:
Средняя температура за неделю - 23.9 градусов по Цельсию.

Germany:
Средняя температура за неделю - 13.7 градусов по Цельсию.

Russia:
Средняя температура за неделю - 3.7 градусов по Цельсию.

Poland:
Средняя температура за неделю - 11.9 градусов по Цельсию.

### Задача 4
Дан поток логов по количеству просмотренных страниц для каждого пользователя. Список отсортирован по ID пользователя. Вам необходимо написать алгоритм, который считает среднее значение просмотров на пользователя. 
Т. е. надо посчитать отношение суммы всех просмотров к количеству уникальных пользователей.

In [85]:
stream = [
    '2018-01-01,user1,3',
    '2018-01-07,user1,4',
    '2018-03-29,user1,1',
    '2018-04-04,user1,13',
    '2018-01-05,user2,7',
    '2018-06-14,user3,4',
    '2018-07-02,user3,10',
    '2018-03-21,user4,19',
    '2018-03-22,user4,4',
    '2018-04-22,user4,8',
    '2018-05-03,user4,9',
    '2018-05-11,user4,11',
]


sum([int(x.split(',')[2]) for x in stream]) / len({x.split(',')[1] for x in stream})

23.25

In [ ]:
stream = [
    '2018-01-01,user1,3',
    '2018-01-07,user1,4',
    '2018-03-29,user1,1',
    '2018-04-04,user1,13',
    '2018-01-05,user2,7',
    '2018-06-14,user3,4',
    '2018-07-02,user3,10',
    '2018-03-21,user4,19',
    '2018-03-22,user4,4',
    '2018-04-22,user4,8',
    '2018-05-03,user4,9',
    '2018-05-11,user4,11',
]

#### Правильно я понимаю, что при { } – считаются уникальные значения, а при [ ] – все ? Просто не нашел нужной документации, чтобы подробно это прочитать.

In [102]:
stream = [
    '2018-01-01,user1,3',
    '2018-01-07,user1,4',
    '2018-03-29,user1,1',
    '2018-04-04,user1,13',
    '2018-01-05,user2,7',
    '2018-06-14,user3,4',
    '2018-07-02,user3,10',
    '2018-03-21,user4,19',
    '2018-03-22,user4,4',
    '2018-04-22,user4,8',
    '2018-05-03,user4,9',
    '2018-05-11,user4,11',
]

len([x.split(',')[1] for x in stream])

12

### Задача 5 
Дана статистика рекламных кампаний по дням. Напишите алгоритм, который по паре дата-кампания ищет значение численного столбца. 
Т. е. для даты '2018-01-01' и 'google' нужно получить число 25. 
Считайте, что все комбинации дата-кампания уникальны.

In [100]:
stats = [
    ['2018-01-01', 'google', 25],
    ['2018-01-01', 'yandex', 65],
    ['2018-01-01', 'market', 89],
    ['2018-01-02', 'google', 574],
    ['2018-01-02', 'yandex', 249],
    ['2018-01-02', 'market', 994],
    ['2018-01-03', 'google', 1843],
    ['2018-01-03', 'yandex', 1327],
    ['2018-01-03', 'market', 1764],
]

date = input('Введите дату:')
company = input('Введите компанию:')

for x in stats:
    if x[0] == date and x[1] == company:
        print(x[2])
        break
    else:
        print('Совпадений не найдено!')
        break

Введите дату:2018-01-01
Введите компанию:google
25

### Задача 6

Напишите код, который будет вычислять сумму элементов на диагонали. Т. е. 13+32+23+35.  
Список может быть любой длины, но всегда является "квадратным" (количество элементов во вложенных списках равно их количеству).

In [71]:
data = [
    [13, 25, 23, 34],
    [45, 32, 44, 47],
    [12, 33, 23, 95],
    [13, 53, 34, 35]
]

a = len(data)
b = len(data[0])
if a == b: 
    sum_diagonal = sum(data[i][i] for i in range(a))
    print(str(sum_first_diagonal))
else:
    print('Ваш список не является "квадратным"!')

103